<div class="row">
  <div class="span12">
    <div class="well">
      <p>
        A Kimball Pair is two words which have idiomatic meaning in either order.  For example, "rat pack" and "pack rat".  These are also called "transpograms" or "switch words".
      </p>

      <p>
        We started playing this little game on a Flying Karamazov Brothers tour.  I don't remember where we were, but across the road from our hotel was a very run-down antique shop, the exterior of which was made in the image of a small ship.  Until I found out it was a store, I thought it was a house.  This left me to ponder as to whether it was a houseboat or a boathouse.  I told Howard Patterson about this rhetorical toy, and he named it after me.  Hours of bus time were spent in the search for new pairs.
      </p>

      <p>
        Here's a list of my favourites.  Thanks to Howard Patterson, Kate Ettinger, Mark Ettinger, Jennifer Collins, Andrine de la Rocha, Rosalea Kimball, George Hart, Eleanor Aversa, Heath Gage, Keith Nelson, Nico Smith, Alex Goldmark, Andy Sapora, Mariann Davis Maene and probably a bunch of others.
      </p>

      <p>Please <a href="#new_submission">add to the list using the form below</a>.</p>
    </div>
  </div>
</div>


<% categories.in_groups_of(3, false).each do |category_group| %>
  <div class="row">
    <% category_group.each do |category| %>
      <div class="category span4">
        <div class="well">
          <h2><%= category.title %></h2>
          <h4><%= category.subtitle %></h4>
          <ul>
            <% category.kimball_pairs.ordered.each do |pair| %>
              <li><%= link_to pair.to_s, pair_path(pair) %></li>
            <% end %>
          </ul>

          <div class="more"><a href="#">More ...</a></div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="span12">
    <div class="well">
      <h2>Submit a new kimball pair</h2>
      <%= render 'submissions/form' %>
    </div>
  </div>
</div>
