/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
*/

.category h4{ font-weight: normal; }


form#new_submission textarea{ width: 400px; }

.category .well{
  max-height: 235px;
  overflow: hidden;
  position: relative;

  -webkit-transition: max-height 3s ease;
  -moz-transition: max-height 5s ease;
  transition: max-height 5s ease;
}

.category .well .more{
  position: absolute;
  bottom: 3px;
  background-color: #f5f5f5;
  width: 100%;
}

.category.expanded .well{
  max-height: 9000px;
}

.category.expanded .more{
  display: none;
}
